.addform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backbtn {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  width: 5em;
  color: aliceblue;
  padding: 1em;
}

.add {
  width: 3em;
  font-size: 1em;
}
