.trackcontainer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  margin-bottom: 1em;
}
.cover {
  height: 50px;
  grid-row: 1 / 3;
  border-radius: 10px;
}
.title {
  color: var(--primary-text);
  align-self: end;
  margin: 0;
}

.artist {
  margin: 0;
  color: var(--secondary-text);
  align-self: start;
}
